*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
:root {
    --purple: #1d2039;
    --light-purple: #242947;
    --lighter-purple: #797e9a;
    --green: #66A663;
    --white: #fff;
    --orange: #dbac36;
}
body{
    background-color: var(--purple);
    padding: 20px;
}
.launch {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.launchForm {
    background-color: var(--lighter-purple);
    border: 5px solid var(--white);
    border-radius: 20px;
    padding: 20px 20px;
}
.launchForm h2 {
    text-align: center;
}
.launchForm input {
    margin-top: 15px;
    background-color: var(--lighter-purple);
    color: var(--white);
    outline: 0;
    border: 1px var(--light-purple) solid;
    width: 100%;
    font-size: 24px;
    border-radius: 5px;
    padding: 5px 15px;
}
h1 {
    font-size: 45px;
}
.bomb{
    width: 80px;
}
header{
    display: flex;
    gap: 50px;
    align-items: center;
    background-color: var(--light-purple);
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}
header span {
    font-size: 20px;
}
.exit {
    background-color: var(--light-purple);
    text-decoration: underline;
    cursor: pointer;
}
.exit:hover {
    color: var(--white)
}
.logo-title {
    display: flex;
    align-items: center;
    gap: 20px;
}
main {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 20px;
}
.gameArea {
    background-color: var(--light-purple);
    border-radius: 20px;
    flex-grow: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.gameField {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(8, 30px);
    gap: 6px;
}
.cell {
    background-color: var(--purple);
    border-radius: 4px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    line-height: 30px;
}
.cell.active {
    background-color: var(--lighter-purple);
    cursor: pointer;
}
.cell.bomb {
    background-image: url(./bomb.png);
    background-size: cover;
    background-color: red;
    background-size: auto;
}
.cell.flag {
    background-image: url(./flag.jpg);
    background-size: cover;
    background-color: var(--green);
}
.cell.active:not(.flag):hover {
    opacity: 0.7;
}
.gameSetting {
    background-color: var(--light-purple);
    border-radius: 20px;
    padding: 40px 10px;
    flex-grow: 1;
}
.gameSetting h2 {
    margin-bottom: 20px;
    text-align: center;
}
.score {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    margin-bottom: 30px;
}
.point {
    flex-basis: 170px;
    background-color: var(--purple);
    flex-grow: 1;
    text-align: center;
    padding: 8px 0;
    border-radius: 20px;
    font-size: 21px;
    cursor: pointer;
}
.point.active {
    background-color: var(--orange);
}
.input {
    display: none;
}
#gameBtn {
    width: 100%;
    padding: 20px 0;
    border-radius: 40px;
    border: none;
    background-color: var(--green);
    font-size: 21px;
    font-weight: 700;
    cursor: pointer;
}
.disabled-button {
    pointer-events: none;
    opacity: 0.5;
}
.launch.disabled {
    display: none;
}
